<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @restoration_technical_sheet.uid %>
</p>

<p>
  <strong>Food:</strong>
  <%= @restoration_technical_sheet.food %>
</p>

<p>
  <strong>Portion number:</strong>
  <%= @restoration_technical_sheet.portion_number %>
</p>

<p>
  <strong>Sale price incl vat:</strong>
  <%= @restoration_technical_sheet.sale_price_incl_vat %>
</p>

<p>
  <strong>Vat rate:</strong>
  <%= @restoration_technical_sheet.vat_rate %>
</p>

<p>
  <strong>Total cost price excl tax:</strong>
  <%= @restoration_technical_sheet.total_cost_price_excl_tax %>
</p>

<p>
  <strong>Produced portion unit cost price excl tax:</strong>
  <%= @restoration_technical_sheet.produced_portion_unit_cost_price_excl_tax %>
</p>

<p>
  <strong>Unsold average percentage:</strong>
  <%= @restoration_technical_sheet.unsold_average_percentage %>
</p>

<p>
  <strong>Sold portion unit cost price excl vat:</strong>
  <%= @restoration_technical_sheet.sold_portion_unit_cost_price_excl_vat %>
</p>

<p>
  <strong>Selling price excl tax:</strong>
  <%= @restoration_technical_sheet.selling_price_excl_tax %>
</p>

<p>
  <strong>Gross margin:</strong>
  <%= @restoration_technical_sheet.gross_margin %>
</p>

<p>
  <strong>Margin rate:</strong>
  <%= @restoration_technical_sheet.margin_rate %>
</p>

<p>
  <strong>Margin coefficient:</strong>
  <%= @restoration_technical_sheet.margin_coefficient %>
</p>

<p>
  <strong>Status:</strong>
  <%= @restoration_technical_sheet.status %>
</p>

<p>
  <strong>Account:</strong>
  <%= @restoration_technical_sheet.account %>
</p>

<%= link_to 'Edit', edit_restoration_technical_sheet_path(@restoration_technical_sheet) %> |
<%= link_to 'Back', restoration_technical_sheets_path %>
