 <div class="card">
                    <div class="card-body">
						<div class="card-thumbnail">
							<%= link_to product_show_path(product) do %>
								<%= product_thumbnail(product) %>
							<% end %>
						</div>
						<div class="card-title ">
							<h5> <%= link_to product.name, product_show_path(product), class: "product-name" %>  </h5>                         
						</div>
                            
						<div class="label-wrap label-right hide-on-list">
							<span class="label-status label-status-7 label label-default">
								<%= product_category(product.product_category_id).name %>
							</span>
							                  
						</div>
						<div class="price">
							<span class="item-price xof">
								<%= "#{number_with_precision(product.selling_price_xof, delimiter: " ", separator: "", precision: 0)} F CFA"  %>
							</span>/

							<span class="item-price euro">
								<%= "#{number_with_precision(product.selling_price_eur, delimiter: " ", separator: "", precision: 0)} Euro"  %>
							</span>

							
						</div>	
						
					   
						<div class="item-footer text-center">
							
							<%= link_to raw('<i class="fa fa-shopping-bag" aria-hidden="true"></i> Ajouter au panier'), add_to_cart_path(product: product.id) , class: "btn btn-primary",  data: {disable_with: "Ajout au panier ..."}, autocomplete: "off",  remote: true %>
							
						</div>
						
							
                    </div>
                </div>	