<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_item_drink.order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_item_drink.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item_drink.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @order_item_drink.unit_price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order_item_drink.amount %>
</p>

<%= link_to 'Edit', edit_order_item_drink_path(@order_item_drink) %> |
<%= link_to 'Back', order_item_drinks_path %>
