 <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.civility %></td>
        <td><%= customer.city %></td>
        <td><%= customer.country %></td>
        <td><%= customer.phone %></td>
       
        <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_customer_path(customer), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), customer_delete_path(customer), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>