<% @orders.each do |order| %>
  <tr>
    <td><%= order.uid %></td>
    <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= order.customer.customer_name %></td>
    <td><%= order.table.name if order.table.present? %></td>
    <td><%= order.total %></td>
    <td><%= order.paid %></td>
    <td><%= order.payment_method %></td>
    <td><%= order.status %></td>
    
    <td>
                    <div class="action-buttons">
                    

<div class="action-buttons">
    <% if can? :show, Order %>
        <%= link_to raw('<i class="fa fa-eye" aria-hidden="true"></i>
'), order_path(order.uid), title: "Voir", remote: false %>
<% end %>

<%= link_to raw('<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      '), generate_pdf_path(order.uid, format: :pdf), remote: false, title: "Télécharger" %>


<% if unconfirmed_order?(order) %>
    <% if can? :destroy, Order %>
        <%= link_to raw('<i class="fa fa-ban" aria-hidden="true"></i>
    '), get_cancel_path(order.uid), remote: true, title: "Annuler", class: "delete" %>
    <% end %>

<% end %>
</div>
</td>
  </tr>
<% end %>