<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.created_at %></td>
    <td><%= order.customer.full_name %></td>
    <td><%= order.status %></td>
    <td><%= order.total_amount %></td>
    <td>
                    <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_order_path(order), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), order_delete_path(order), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>