<%= form_with(model: customer_fidelity_card, local: false) do |form| %>
  
   <div class="modal-body">
  
        <ul class="errors">
        </ul>
      
   
      <div class="row">
        <div class="col-md-12">
  

          <div class="form-group customSelect">
            <%= form.label :customer_id, "Client", class: "required" %>
            <%= form.collection_select(:customer_id, @customers, :id, :customer_name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%", required: true) %> 
          </div>

          <div class="form-group customSelect">
            <%= form.label :fidelity_card_id, "Carte", class: "required" %>
           <%= form.collection_select(:fidelity_card_id, @fidelity_cards, :id, :uid, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%", required: true) %> 
          </div>

  

  </div>
    </div>

  </div><!-- modal body -->
      <div class="modal-footer">
        <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
        <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
