<%= form_with(model: api_key, local: true) do |form| %>
  <% if api_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_key.errors.count, "error") %> prohibited this api_key from being saved:</h2>

      <ul>
      <% api_key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :access_token %>
    <%= form.text_field :access_token %>
  </div>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.text_field :account_id %>
  </div>

  <div class="field">
    <%= form.label :expires_at %>
    <%= form.datetime_select :expires_at %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
