<p id="notice"><%= notice %></p>

<p>
  <strong>Access token:</strong>
  <%= @api_key.access_token %>
</p>

<p>
  <strong>Account:</strong>
  <%= @api_key.account %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @api_key.expires_at %>
</p>

<p>
  <strong>Active:</strong>
  <%= @api_key.active %>
</p>

<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
