<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @role_permission.role %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @role_permission.permission %>
</p>

<p>
  <strong>Status:</strong>
  <%= @role_permission.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @role_permission.user %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @role_permission.created_by %>
</p>

<%= link_to 'Edit', edit_role_permission_path(@role_permission) %> |
<%= link_to 'Back', role_permissions_path %>
