
    <h5 class="sidenav-heading">Menu</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">                 
            <li>
				<%= link_to raw('<i class="fa fa-line-chart" aria-hidden="true"></i>Tableau de bord'), dashboard_path %>
			</li>
			<li>
				<%= link_to raw('<i class="fa fa-balance-scale" aria-hidden="true"></i>
Crédits'), credits_path %>
			</li>
			
			<li>
				<a href="#commissiondropdownDropdown" aria-expanded="false" data-toggle="collapse"> 
					<i class="fa fa-money" aria-hidden="true"></i>Commissions</a>
                <ul id="commissiondropdownDropdown" class="collapse list-unstyled ">
                    <li><%= link_to raw('<i class="fa fa-address-book-o" aria-hidden="true"></i>Apporteurs'), contributors_commissions_path %>
                    </li>
                    <li>
                        <%= link_to raw('<i class="fa fa-address-book" aria-hidden="true"></i> Producteurs'), producers_commissions_path %>
                    </li>
                    <li>
                        <%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i> Banques'), banks_commissions_path %>
                    </li>
                </ul>
            </li>
				
           
            <li>
                <%= link_to raw('<i class="fa fa-building-o" aria-hidden="true"></i>Banques'), banks_path %>
            </li>
				<% if is_admin? || is_superadmin? %>
					<li>
						<a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-cogs" aria-hidden="true"></i>
						Paramètres</a>
						<ul id="exampledropdownDropdown" class="collapse list-unstyled">
							<% if is_admin? || is_superadmin? %>
								<li>
									<%= link_to raw('<i class="fa fa-user" aria-hidden="true"></i> Utilisateurs'), all_users_path %>
								</li>
								
							
						
                            <li>
                                <%= link_to raw('<i class="fa fa-envelope" aria-hidden="true"></i>Config. messagerie'), mail_settings_path %>
                            </li>
					<% end %>
				</ul>
			</li>
		<% end %>
    </ul>

   
