<%= form_with(model: food, local: FALSE) do |form| %>
  <div class="modal-body">
     <ul class="errors">
      </ul>

    <div class="row">
      <div class="col-md-12">


        <div class="form-group">
          <%= form.label :food_category_id, "Catégorie", class: "required"  %>
          <%= form.collection_select(:food_category_id, @food_categories, :id, :name, {prompt: "Sélectionner une catégorie"}, class: "form-control", required: true) %> 
        </div>


        <div class="form-group">
          <%= form.label :name, "Nom", class: "required" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Nom", required:true %>
        </div>



        

        <div class="form-group">
          <%= form.label :price, "Prix", class: "required" %>
          <%= form.number_field :price, class: "form-control", required:true %>
        </div>

      
      </div>
    </div>

 

 

  </div><!-- modal body -->
  <div class="modal-footer">
            <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
            <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>
