<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @order_item.uid %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order %>
</p>

<p>
  <strong>Food:</strong>
  <%= @order_item.food %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_item.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order_item.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order_item.status %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
