<% @products.each do |product| %>
      <tr>
        <td ><%= product.category.name %></td>
        <td ><%= product.name %></td>
        <td ><%= product.unity.name %></td>
        <td ><%= product.unit_price %></td>
      
        <td><%= product.reorder_threshold %></td>
        
        <td >
         <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_product_path(product), remote: true %>
        <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>