<table id="table-list" class="table table-striped table-bordered table-hover ">
                            <thead>
                                <tr>
                        
                                    <th>Montant emprunté</th>
                                    <th>Date pro</th>
                                    <th>Date acte</th>
                                    <th>Banque</th>
                                    <th>Client</th>
                                    <th >Appo</th>
                                    <th class="hiddable">% com appo</th>
                                    <th class="hiddable">Com appo</th>
                                    <th>Prod</th>
                                    <th class="hiddable">% com prod</th>
                                    <th class="hiddable">Com prod</th>
                                    <th>% com <%= current_company.name  %></th>
                                    <th>Com totale banque</th>
                                    <th>Com nette <%= current_company.name  %></th>
                                   
                                </tr>
                               
                            </thead>
                            <tbody class="search-resultt">
                            
                                <!-- <%= render("search/partials/results") %> -->

                                <% if @commissions.present? %>


         

    <% @commissions.each do |commission| %>
        <tr>
        
            <td><%= number_to_currency commission.amount_credit , unit: "", seperator: ",", delimiter: "."  %></td>
            <td>
                <%= commission.production_date %>
            </td>
            <td>
                <%= commission.acte_date %>
            </td>
            <% if commission.bank_name.present? %>
                <td><%= link_to "#{commission.bank_name}", bank_resume_path(bank_name: commission.bank_name) %></td>
                <% else %>
                    <td></td>
            <% end %>
            <td><%= credit_customer_name(commission.credit_id) %></td>


            <% if commission.contributor_name.present? %>
                <td><%= link_to "#{commission.contributor_name}", contributor_resume_path(contributor_name: commission.contributor_name) %></td>
                <% else %>
                <td></td>
                <% end %>

            <td class="hiddable"><%= number_to_currency commission.contributor_commission_percentage, unit: "", seperator: ",", delimiter: "." %></td>
            <td class="hiddable"><%= number_to_currency commission.contributor_commission, unit: "", seperator: ",", delimiter: "." %></td>

            <% if commission.producer_name.present? %>
                    <td><%= link_to "#{commission.producer_name}", producer_resume_path(producer_name: commission.producer_name) %></td>
                <% else %>
                    <td></td>
            <% end %>

            <td class="hiddable"><%= number_to_currency commission.producer_commission_percentage, unit: "", seperator: ",", delimiter: "." %></td>
            <td class="hiddable"><%= number_to_currency commission.producer_commission, unit: "", seperator: ",", delimiter: "." %></td>

            <td><%= number_to_currency commission.company_commission_percentage, unit: "", seperator: ",", delimiter: "." %></td>
            <td><%= number_to_currency commission.bank_commission, unit: "", seperator: ",", delimiter: "." %></td>

            <td><%= number_to_currency commission.company_commission, unit: "", seperator: ",", delimiter: "." %></td>


            
        </tr>
    <% end %>
<% end %>
                            </tbody>
                           <tfoot class="tfooter">
                                <!-- <%= render("search/partials/tfooter") %> -->

                            </tfoot>
                        </table>